<!--<p class="MsoTitle" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;">
    <b>
        <u>
            <span lang="ES">
                <font face="arial" size="2">CONTRATO INDIVIDUAL DE TRABAJO TRANSITORIO O DE TEMPORADA
                </font>
            </span>
        </u>
    </b> 
</p>

<p class="MsoTitle" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;">
    <b>
        <span lang="ES">
            <o:p>
                <font face="arial" size="2">&nbsp;</font>
            </o:p>
        </span>
    </b>
</p>
<p style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;">
    <span style="font-family: arial; font-size: small;">En Requinoa,&nbsp;</span>
    <span style="font-family: arial; font-size: small;">
        <b>{FECHA_CONTRATO}</b>
    </span>
    <span style="font-family: arial; font-size: small;">, entre&nbsp;</span>
    <b style="font-family: arial; font-size: small;">AGROCOMERCIAL NATURA LTDA</b>
    <span style="font-family: arial; font-size: small;">, R.U.T. N°&nbsp;</span>
    <b style="font-family: arial; font-size: small;">76.012.885-6</b>
    <span style="font-family: arial; font-size: small;">, con domicilio en Camino El abra S/N Km 2.5 California, Parcela 3, Comuna de Requinoa, Sexta Región, representada por don&nbsp;</span>
    <b style="font-family: arial; font-size: small;">ALEJANDRO GARCIA HUIDOBRO LLOMPART</b>
    <span style="font-family: arial; font-size: small;">, Gerente General,&nbsp; del mismo domicilio de su representada, R.U.T N°&nbsp;</span>
    <b style="font-family: arial; font-size: small;">9.931.651-9,</b><span style="font-family: arial; font-size: small;">&nbsp; en adelante “el empleador”, por una parte; y don(ña)&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{NOMBRE_TRABAJADOR}</b></span><b style="font-family: arial; font-size: small;">&nbsp;&nbsp;</b><span style="font-family: arial; font-size: small;">R.U.T.&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{RUT_TRABAJADOR}</b></span><b style="font-family: arial; font-size: small;">&nbsp;</b><span style="font-family: arial; font-size: small;">con domicilio en&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{DOMICILIO_TRABAJADOR}</b></span><b style="font-family: arial; font-size: small;">,</b><span style="font-family: arial; font-size: small;">&nbsp;Comuna de&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{COMUNA_TRABAJADOR}</b></span><span style="font-family: arial; font-size: small;">, de nacionalidad&nbsp;&nbsp;</span><b style="font-family: arial; font-size: small;">CHILENA,</b><span style="font-family: arial; font-size: small;">&nbsp;nacido(a) el&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{FECHA_NACIMIENTO_TRABAJADOR}</b></span><span style="font-family: arial; font-size: small;">, en adelante “el trabajador”, por otra parte, se conviene un contrato de trabajo cuyas cláusulas son las siguientes:</span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><u><span lang="ES"><o:p><span style="text-decoration: none;"><font face="arial" size="2">&nbsp;</font></span></o:p></span></u></b></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font size="2"><b style="font-family: arial;"><u><span lang="ES">PRIMERO</span></u></b><b style="font-family: arial;"><span lang="ES">: Naturaleza del contrato:&nbsp;</span></b><span lang="ES" style="font-family: arial;">El presente contrato es por faena, donde el trabajador deberá desempeñarse en el cargo de&nbsp;<span style="text-align: start;"><b>{CARGO_TRABAJADOR}</b></span><b>&nbsp;</b>por la temporada de<b>&nbsp;</b><span style="text-align: start;"><b>{FAENA_TRABAJADOR}</b></span>.</span></font><br></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></b></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">El trabajador desempeñará la función&nbsp;</span><span lang="ES">de&nbsp;</span><span lang="ES"><span style="text-align: start;"><b>{CARGO_TRABAJADOR}</b></span></span><span lang="ES">,</span><span lang="ES">&nbsp;y todas aquellas para las cuales se encuentren capacitados y que se hayan comprendidas dentro del giro de la empresa y en general, cualquier labor relacionada directa o indirectamente con la ya señalada, según le fuere encomendada por sus superiores jerárquicos en la sección&nbsp;</span><span style="text-align: start;"><b>{NIVEL_ADMIN_TRABAJADOR}</b></span><b><span lang="ES">.</span></b></font></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; text-align: justify; line-height: 12pt;"><span lang="ES"><font face="arial" size="2">Todo lo anterior, sin perjuicio de la facultad&nbsp; que la ley otorga al empleador en el artículo 12 del Código del trabajo, pudiendo alterar unilateralmente la naturaleza de los servicios o el sitio o recinto en que ellos deban prestarse, a condición de que se trate de labores similares, que el nuevo sitio recinto quede dentro del mismo lugar o ciudad,&nbsp; sin que ello importe menoscabo para el trabajador.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><u><span lang="ES"><o:p><span style="text-decoration: none;"><font face="arial" size="2">&nbsp;</font></span></o:p></span></u></b></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">SEGUNDO</span></u></b><b><span lang="ES">: Lugar de prestación de servicios.&nbsp;</span></b><span lang="ES">El trabajador cumplirá sus labores en&nbsp;</span>la Planta de la empresa ubicada en la comuna de Requinoa, Camino el Abra s/n km.2.5 California, parcela 3, Sexta Región, sin perjuicio de la facultad señalada en la cláusula anterior.<o:p></o:p></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">&nbsp;<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">TERCERO:</span></u></b><b><span lang="ES">&nbsp;Jornada de Trabajo:</span></b><span lang="ES">&nbsp;La jornada ordinaria de trabajo será de 45 horas semanales, distribuidas de la&nbsp; siguiente forma:</span><b><span lang="ES"><o:p>&nbsp;</o:p></span></b></font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><span lang="ES">JORNADA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;:&nbsp;</span></b>{JORNADA_TRABAJADOR} &nbsp; &nbsp;&nbsp;</font><span style="font-family: arial; font-size: small;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><i><span lang="ES">La colación no formará parte de la jornada de trabajo.</span></i></b><b><i><span lang="ES"><o:p>&nbsp;</o:p></span></i></b></font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2">La empresa comunicará al trabajador la fecha en que comienza la temporada alta, y la fecha en que comienza la temporada baja.&nbsp; Todo lo que guardará estricta relación con la temporada agrícola de que se trata, los flujos de fruta a procesar y los factores climáticos de rigor.<b><span lang="ES"><o:p>&nbsp;</o:p></span></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES" style="text-transform: uppercase;">CUARTO</span></u></b><b><u><span lang="ES">:</span></u></b><b><span lang="ES">&nbsp;Monto, forma y periodo de pago de las remuneraciones:&nbsp;</span></b><span lang="ES">El trabajador tendrá derecho a percibir las siguientes prestaciones.<o:p></o:p></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></p><p lang="es-ES" class="western" align="JUSTIFY" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 0.5cm;"><font color="#393939"><font face="Arial Narrow, serif"><font style="font-size: 11pt;">a) Sueldo base:&nbsp;</font></font></font><font color="#393939"><font face="Arial Narrow, serif"><font style="font-size: 11pt;"><b>{SUELDO_BASE}</b></font></font></font></p><p lang="es-ES" class="western" align="JUSTIFY" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 0.5cm;"><font color="#393939"><font face="Arial Narrow, serif"><font style="font-size: 11pt;"><span lang="es-CL"><b>{LISTADO_DE_BONOS}</b></span></font></font></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES-CL">El trabajador recibirá este bono, siempre y cuando su asistencia corresponda al 100%, si registra una falla&nbsp;</span><span lang="ES-CL">el bono se reducirá al 50%.&nbsp;</span><span lang="ES-CL">Si las fallas alcanzan a dos o más, no habrá derecho a suma alguna por concepto de este bono. Este monto será proporcional a los días trabajados.<o:p></o:p></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">c) Gratificación mensual,&nbsp; de un 25% del sueldo base con un tope de 4.75 ingresos mínimos mensuales, según lo dispuesto en el artículo 50 del Código del Trabajo.</span><b><u><span lang="ES"><o:p><span style="text-decoration: none;">&nbsp;</span></o:p></span></u></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">Las remuneraciones se pagarán en períodos mensuales vencidos, dentro de los cinco días hábiles siguientes al término del mes trabajado, con transferencia electrónica a la respectiva cuenta vista, que será abrirá inmediatamente después de firmado el contrato de trabajo. El trabajador tendrá derecho además a un&nbsp; anticipo mensual, equivalente al&nbsp; tope de un&nbsp; 30%&nbsp; de su sueldo base. De las sumas anteriores se deducirán los impuestos que las graven, las cotizaciones de seguridad y otras, en conformidad a lo establecido en el artículo 58 y siguientes del Código del Trabajo.&nbsp;</span>Cualquier otro beneficio o prestación que recibiere el trabajador con ocasión de sus servicios, lo serán a titulo de mera liberalidad del empleador, no constituyendo en caso ni de forma alguna remuneración en los términos señalados en el artículo 41 del código del trabajo<b><u><span lang="ES"><o:p><span style="text-decoration: none;">&nbsp;</span></o:p></span></u></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES"><br></span></u></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">QUINTO:</span></u></b><b><span lang="ES">&nbsp;Jornada Extraordinaria y pacto.</span></b><span lang="ES">&nbsp;Conforme&nbsp; a lo previsto en el artículo 32 del Código del Trabajo, el trabajador prestará servicios en jornada extraordinaria cuando las necesidades de la empresa, de carácter temporal, así lo requieran. Para tales efectos en este mismo acto, las partes acuerdan pactar la realización de tales funciones, por el próximo mes pacto que podrá ser renovado de acuerdo a las necesidades del caso.<o:p></o:p></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">En todo caso,&nbsp; y en conformidad a la Ley no serán horas extraordinarias las trabajadas en compensación de un permiso, siempre que dicha compensación haya sido solicitada por escrita por el trabajador y autorizada por el empleador.</span><b><u><span lang="ES"><o:p><span style="text-decoration: none;">&nbsp;</span></o:p></span></u></b></font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">SEXTO:</span></u></b><b>&nbsp;Ropa&nbsp; de Trabajo y Elementos de Protección Personal.&nbsp;</b><span lang="ES">La empresa entregará&nbsp; equipo de trabajo necesario&nbsp; para que el trabajador desempeñe sus funciones.&nbsp; Este se obliga a&nbsp; cuidar dicho&nbsp;&nbsp; equipo&nbsp;&nbsp; y&nbsp;&nbsp; restituirlo&nbsp;&nbsp; al&nbsp;&nbsp; término de la relación laboral.</span></font><span style="font-family: arial; font-size: small;">&nbsp; &nbsp; &nbsp;</span></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">Se&nbsp; deja expresa&nbsp; constancia&nbsp; que el&nbsp; uso&nbsp; de la ropa&nbsp; de trabajo, los elementos de protección personal y el cumplimiento de todas y cada una de las medidas de higiene y seguridad son obligaciones esenciales del trabajador, por lo que su inobservancia será considerada incumplimiento grave de los deberes contractuales, y habilitará al empleador para poner término al contrato del trabajo en virtud de lo dispuesto en el articulo 160 N° 7, del Código del trabajo</font></span><b><u><span lang="ES"><o:p><span style="text-decoration: none;"><font face="arial" size="2">&nbsp;</font></span></o:p></span></u></b></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">SEPTIMO:&nbsp;</span></u></b><b>Obligaciones.&nbsp;</b><span lang="ES">El trabajador estará sujeto a las obligaciones que se indican a continuación, las que en ningún caso tendrán carácter de taxativas.<o:p></o:p></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">1. Dar cumplimiento estricto a las normas, procedimientos e instrucciones&nbsp; impartidas para el procesamiento de la fruta.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">2. No ingerir, no comer y no extraer frutas de aquellas que están siendo procesadas por la empresa.&nbsp;&nbsp;<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">3. Acatar&nbsp; las normas de bioseguridad, certificación BPM, HACCP y BRC en el tratamiento de la fruta y en el cumplimiento de sus&nbsp;&nbsp; funciones.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">4. Cumplir oportuna y fielmente las instrucciones impartidas por sus superiores.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">5. Registrar personalmente la hora de ingreso, al momento del inicio de sus labores y de salida, al momento de finalizar su&nbsp; trabajo.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">6. Concurrir a prestar servicios con una&nbsp; presentación personal adecuada a sus funciones.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">7. Asistir a los cursos de capacitación que determine la empresa.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">8. Usar, durante el desempeño de sus funciones, la ropa y&nbsp; elementos de protección personal proporcionados por la empresa.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">9. Preocuparse y cooperar con el mantenimiento y buen estado del local de la empresa, sus máquinas, herramientas e instalaciones en general, tanto las destinadas al trabajador como las de otras áreas o funciones<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">10. Acatar y hacer cumplir en su caso, las normas establecidas en el reglamento interno de orden, higiene y seguridad de la empresa, las que declara conocer y que para estos efectos se consideran parte integrante del presente contrato, reglamento que el trabajador declara recibir en este acto.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">11. En general, todas aquellas tareas relacionadas con su cargo y que sean necesarias para el adecuado y eficiente funcionamiento de la planta.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">El cumplimiento de las obligaciones de esta cláusula, es considerado esencial por las partes, razón por la cual, acuerdan que la inobservancia de esos deberes es considerado incumplimiento grave de las obligaciones que impone el contrato de trabajo, en los términos del N° 7, del artículo 160, del Código del Trabajo que habilitan al empleador a poner término al contrato de trabajo.&nbsp; Lo anterior es sin perjuicio, de la responsabilidad que le corresponda por los daños y perjuicios que la infracción que a estas obligaciones genere, como así mismo, de las demás responsabilidades legales.</span><b><u><span lang="ES"><o:p><span style="text-decoration: none;">&nbsp;</span></o:p></span></u></b></font></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES"><br></span></u></b></font></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">OCTAVO:&nbsp;</span></u></b><b><span lang="ES">Prohibiciones</span></b><b>.&nbsp;</b><span lang="ES">El trabajador estará sujeto a las prohibiciones especiales que se indican a continuación, sin que la presente enumeración tenga carácter taxativo.<o:p></o:p></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">1. Presentarse a prestar servicios en estado de ebriedad o la influencia del alcohol.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">2. Ingerir bebidas alcohólicas en su jornada y lugar de trabajo.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">3. Fumar en horarios no habilitados y en lugares de trabajo.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">4. Portar armas y elementos corto punzantes al interior de la empresa.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">5. Registrar más de 3 atrasos consecutivos en la hora de llegada a su trabajo.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">6. Registrar la tarjeta de asistencia (u otro medio de control) de otro trabajador.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">7. Abandonar su lugar de trabajo antes del término de su jornada sin&nbsp; la autorización de su superior.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">8. Sacar fuera de la Empresa herramientas, productos y cualquier tipo de elemento que pertenezca a ella,&nbsp; o a los terceros que utilizan sus servicios, ya sea personalmente o por medio de terceras personas.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">9. Permanecer en la empresa, más allá de la hora de término de la jornada, a menos que se hayan pactado horas extraordinarias.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">10.&nbsp; Registrar horas extraordinarias sin haberlas laborado.<o:p></o:p></font></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">11. Desarrollar cualquier conducta que implique una falta de respeto a su compañero o compañeros de trabajo, en forma ofensiva o discriminatoria, especialmente, en lo relativo a conductas que pueden ser consideradas constitutivas de acoso sexual.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">12. Proporcionar a terceros información de la empresa, tanto en lo relativo a sus bases de datos, como al volumen de la producción, u otros que pudieran causar un perjuicio al empleador como obligándose a respetar en todo momento confidencialidad de todo lo que ocurra al interior e la planta y en lo relativo a la información de los demás trabajadores, protegiendo así, el derecho a la intimidad, la vida privada y la honra de las personas<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">13. Desarrollar actividades ajenas al trabajo durante la jornada laboral o distraerse de esta, desatendiendo su trabajo o distrayendo a los demás trabajadores.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">14. En el evento de tener acceso a los equipos computacionales de la empresa, utilizarlos para fines personales, adulterar o eliminar archivos de dichos equipos o ingresar programas o aplicaciones no autorizadas por el empleador.&nbsp; El uso de Internet y correo electrónico queda estricta y exclusivamente restringido a fines laborales.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">15. Trasladarse al interior de la empresa en grúas horquillas, viajar de sobre carga en camiones, camionetas, tractores o cualquier otro vehículo que no este diseñado para el transporte de pasajeros, así como en la pisadera de los mismos que puedan poner en riesgo su integridad física o la de terceros.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">16.&nbsp; Ejecutar actos, omisiones o imprudencias temerarias que afecten a la seguridad o al funcionamiento del establecimiento, a la seguridad o a la actividad de los trabajadores o a la salud de los mismos.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">17. Operar maquinas, grúas horquillas, camiones, camionetas, tractores o cualquier vehículo para el cual no haya sido contratado.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">18. Comerciar con mercadería de cualquier especie, dentro del recinto de trabajo cualquiera sea el horario o jornada.<o:p></o:p></font></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></p><p class="MsoTitle" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">El incurrir en cualquiera de las prohibiciones de esta cláusula, es considerado por las partes como incumplimiento grave de las obligaciones que impone el contrato de trabajo, en los términos del N° 7, del artículo 160, del Código del Trabajo.</span><b><u><span lang="ES"><o:p><span style="text-decoration: none;">&nbsp;</span></o:p></span></u></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES"><br></span></u></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">NOVENO:</span></u></b><span lang="ES">&nbsp;<b>Embarazo de la trabajadora.&nbsp;</b>La trabajadora que durante el período de prestación de servicios quedare embarazada, deberá dar aviso inmediato al empleador de dicha situación, acompañando el certificado médico (en original), que acredite su estado.</span><b><u><span lang="ES"><o:p><span style="text-decoration: none;">&nbsp;</span></o:p></span></u></b></font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">DECIMO:</span></u></b><span lang="ES">&nbsp;<b>Condiciones de trabajo:&nbsp;</b>El trabajador declara que su lugar de trabajo se encuentra a una distancia que le permita acceder diariamente a su residencia o lugar de alojamiento.<o:p></o:p></span></font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><span lang="ES">En todo caso, el empleador se obliga a proporcionar, las condiciones higiénicas y adecuadas que les permite&nbsp; consumir alimentos en el lugar habilitado al interior de la planta para estos efectos.&nbsp; Sin perjuicio de aquellos que el propio empleador le proporcione de acuerdo a su jornada de trabajo.</span>&nbsp;</font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">UNDECIMO:</span></u></b><span lang="ES">&nbsp;<b>Reglamento Interno.&nbsp;</b>En este acto el trabajador declara recibir un ejemplar del Reglamento Interno de Orden, Higiene&nbsp; y Seguridad, obligándose a&nbsp; conocerlo y cumplirlo cabalmente.</span></font><b><u><span lang="ES"><o:p><span style="text-decoration: none;"><font face="arial" size="2">&nbsp;</font></span></o:p></span></u></b></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">DUODECIMO:</span></u></b><b><span lang="ES">&nbsp;Vigencia</span></b><span lang="ES">. El presente contrato de trabajo tendrá una duración&nbsp; hasta cuando concluya la faena que le ha dado origen,&nbsp; la cual es denominada<b>&nbsp;</b>temporada de<b>&nbsp;</b></span></font><span style="text-align: start;"><b>{FAENA_TRABAJADOR}</b></span><font face="arial" size="2"><span lang="ES"><b>,</b>&nbsp;todo ello en virtud de la causal del N° 5, del artículo 159, del Código del Trabajo, esto es, conclusión del trabajo o servicio que dio origen al contrato.<o:p></o:p></span></font></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><font face="arial" size="2">Al respecto el trabajador declara y reconoce tener cabal y pleno conocimiento&nbsp; que se le contrata exclusivamente para la referida faena.<o:p></o:p></font></span></p><p class="MsoNormal" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><u><span lang="ES">UNDECIMO:</span></u></b><b>&nbsp;Constancia:&nbsp;</b>Las partes<b>&nbsp;</b>&nbsp;dejan expresa constancia que:&nbsp;</font></p><p class="MsoNormal" style="margin-left: 36pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify; text-indent: -18pt;"><font face="arial" size="2"><b>a)<span style="font-weight: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b>El trabajador ingresó a prestar servicios el&nbsp;<o:p></o:p><b>{FECHA_CONTRATO}</b></font></p><p class="MsoNormal" style="margin-left: 36pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify; text-indent: -18pt;"><font face="arial" size="2"><b>b)<span style="font-weight: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b>El trabajador declara estar afiliado a los siguientes sistemas previsionales y de salud, para efectos de los descuentos legales que deban practicarse mensualmente:<span lang="ES"><o:p></o:p></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt 108pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify; text-indent: -27pt;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt 36pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2">&nbsp; &nbsp;<b>AFP&nbsp;</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>: {AFP_TRABAJADOR}<br></b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><span lang="ES">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;TIPO DE PREVISIÓN :&nbsp;</span>{PREVISION_TRABAJADOR}</b></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt 18pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><u><span lang="ES"><o:p><span style="text-decoration: none;"><font face="arial" size="2">&nbsp;</font></span></o:p></span></u></b></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt 18pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial" size="2"><b><span lang="ES">c)&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span lang="ES">El presente contrato se suscribe en dos ejemplares quedando uno en poder del trabajador<u><o:p></o:p></u></span></font></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><u><span lang="ES"><o:p><span style="text-decoration: none;"><font face="arial" size="2">&nbsp;</font></span></o:p></span></u></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt 108pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify; text-indent: -27pt;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></p><p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt 108pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify; text-indent: -27pt;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;"><span lang="ES"><font face="arial" size="2">Trabajador<b><o:p></o:p></b></font></span></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;"><font face="arial" size="2"><b><span lang="ES">R.U.T.&nbsp;</span>{RUT_TRABAJADOR}</b></font></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;"><b style="text-align: justify;"><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></b></p><p class="MsoNormal" align="center" style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;"><b><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></b></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;"><span lang="ES"><font face="arial" size="2">Empleador<o:p></o:p></font></span></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;"><b><span lang="ES"><font face="arial" size="2">R.U.T &nbsp;76.012.885-6<o:p></o:p></font></span></b></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></b></p><p class="MsoBodyText" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></b></p>
                                

-->
<meta charset="utf-8">
<p class="MsoTitle" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: center;">
    <b>
        <u>
            <span lang="ES">
                <font face="arial" size="2">CONTRATO INDIVIDUAL DE TRABAJO TRANSITORIO O DE TEMPORADA<o:p></o:p>
                </font></span></u></b>
</p>
<p class="MsoTitle" align="center" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b><span lang="ES"><o:p><font face="arial" size="2">&nbsp;</font></o:p></span></b>
</p>
<p style="color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">En&nbsp;</span><span style="font-family: arial; font-size: small;">Rancagua</span><span style="font-family: arial; font-size: small;">,&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{FECHA_CONTRATO}</b></span><span style="font-family: arial; font-size: small;">, entre&nbsp;</span><b style="font-family: arial; font-size: small;">IFK Soluciónes Informáticas</b><span style="font-family: arial; font-size: small;">, R.U.T. N°&nbsp;</span><b style="font-family: arial; font-size: small;">75.555.555-5</b><span style="font-family: arial; font-size: small;">, con domicilio en Direccion Ficticia numero 123, Camino No Existe, Comuna de Rancagua, Sexta Región, representada por don &nbsp;</span><b style="font-family: arial; font-size: small;">ALEJANDRO FICTICIO NO-EXISTE PEREZ</b><span style="font-family: arial; font-size: small;">, Gerente General,&nbsp; del mismo domicilio de su representada, R.U.T N°&nbsp;</span><b style="font-family: arial; font-size: small;">9.999.999-9,</b><span style="font-family: arial; font-size: small;">&nbsp; en adelante "el empleador”, por una parte; y don(ña)&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{NOMBRE_TRABAJADOR}</b></span><b style="font-family: arial; font-size: small;">&nbsp;&nbsp;</b><span style="font-family: arial; font-size: small;">R.U.T.&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{RUT_TRABAJADOR}</b></span><b style="font-family: arial; font-size: small;">&nbsp;</b><span style="font-family: arial; font-size: small;">con domicilio en&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{DOMICILIO_TRABAJADOR}</b></span><b style="font-family: arial; font-size: small;">,</b><span style="font-family: arial; font-size: small;">&nbsp;Comuna de&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{COMUNA_TRABAJADOR}</b></span><span style="font-family: arial; font-size: small;">, de nacionalidad&nbsp;&nbsp;</span><b style="font-family: arial; font-size: small;">{NACIONALIDAD_TRABAJADOR},</b><span style="font-family: arial; font-size: small;">&nbsp;nacido(a) el&nbsp;</span><span style="font-family: arial; font-size: small;"><b>{FECHA_NACIMIENTO_TRABAJADOR}</b></span><span style="font-family: arial; font-size: small;">, en adelante "el trabajador", por otra parte, se conviene un contrato de trabajo cuyas cláusulas son las siguientes:</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b style="font-size: small; font-family: arial;"><u><span lang="ES">PRIMERO</span></u></b><b style="font-size: small; font-family: arial;"><span lang="ES">: Naturaleza del contrato:&nbsp;</span></b><span lang="ES" style="font-size: small; font-family: arial;">El presente contrato es por faena, donde el trabajador deberá desempeñarse en el cargo de&nbsp;<span style="text-align: start;"><b>{CARGO_TRABAJADOR}</b></span><b>&nbsp;</b>por la temporada de<b>&nbsp;</b><span style="text-align: start;"><b>{FAENA_TRABAJADOR}</b></span></span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span lang="ES" style="font-family: arial; font-size: small;">El trabajador desempeñará la función&nbsp;</span><span lang="ES" style="font-family: arial; font-size: small;">de&nbsp;</span><span lang="ES" style="font-family: arial; font-size: small;"><span style="text-align: start;"><b>{CARGO_TRABAJADOR}</b></span></span><span lang="ES" style="font-family: arial; font-size: small;">,</span><span lang="ES" style="font-family: arial; font-size: small;">&nbsp;y todas aquellas para las cuales se encuentren capacitados y que se hayan comprendidas dentro del giro de la empresa y en general, cualquier labor relacionada directa o indirectamente con la ya señalada.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small; text-align: start;">T</span><span style="font-family: arial; font-size: small; line-height: 12pt;">odo lo anterior, sin perjuicio de la facultad&nbsp; que la ley otorga al empleador en el artículo 12 del Código del trabajo, pudiendo alterar unilateralmente la naturaleza de los servicios o el sitio o recinto en que ellos deban prestarse, a condición de que se trate de labores similares, que el nuevo sitio recinto quede dentro del mismo lugar o ciudad,&nbsp; sin que ello importe menoscabo para el trabajador.&nbsp;</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small; line-height: 12pt;"><br></span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><b style="font-family: arial; font-size: small;"><u><span lang="ES">SEGUNDO</span></u></b><b style="font-family: arial; font-size: small;"><span lang="ES">: Lugar de prestación de servicios.&nbsp;</span></b><span lang="ES" style="font-family: arial; font-size: small;">El trabajador cumplirá sus labores en&nbsp;</span><span style="font-family: arial; font-size: small;">la Planta de la empresa ubicada en la comuna de Requinoa, Camino el Abra s/n km.2.5 California, parcela 3, Sexta Región, sin perjuicio de la facultad señalada en la cláusula anterior.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial"><b><u><span lang="ES"><br></span></u></b></font>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><font face="arial"><b><u><span lang="ES">TERCERO:</span></u></b><b><span lang="ES">&nbsp;</span></b></font><b style="font-size: small; font-family: arial;"><span lang="ES">Prohibiciones</span></b><b style="font-size: small; font-family: arial;">.&nbsp;</b><span lang="ES" style="font-size: small; font-family: arial;">El trabajador estará sujeto a las prohibiciones especiales que se indican a continuación, sin que la presente enumeración tenga carácter taxativo.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">1. Presentarse a prestar servicios en estado de ebriedad o la influencia del alcohol.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">2. Ingerir bebidas alcohólicas en su jornada y lugar de trabajo.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">3. Fumar en horarios no habilitados y en lugares de trabajo.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">4. Portar armas y elementos corto punzantes al interior de la empresa.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">5. Registrar más de 3 atrasos consecutivos en la hora de llegada a su trabajo.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">6. Registrar la tarjeta de asistencia (u otro medio de control) de otro trabajador.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">7. Abandonar su lugar de trabajo antes del término de su jornada sin&nbsp; la autorización de su superior.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">8. Sacar fuera de la Empresa herramientas, productos y cualquier tipo de elemento que pertenezca a ella,&nbsp; o a los terceros que utilizan sus servicios, ya sea personalmente o por medio de terceras personas.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">9. Permanecer en la empresa, más allá de la hora de término de la jornada, a menos que se hayan pactado horas extraordinarias.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">10.&nbsp; Registrar horas extraordinarias sin haberlas laborado.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">11. Desarrollar cualquier conducta que implique una falta de respeto a su compañero o compañeros de trabajo, en forma ofensiva o discriminatoria, especialmente, en lo relativo a conductas que pueden ser consideradas constitutivas de acoso sexual.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">12. Proporcionar a terceros información de la empresa, tanto en lo relativo a sus bases de datos, como al volumen de la producción, u otros que pudieran causar un perjuicio al empleador como obligándose a respetar en todo momento confidencialidad de todo lo que ocurra al interior e la planta y en lo relativo a la información de los demás trabajadores, protegiendo así, el derecho a la intimidad, la vida privada y la honra de las personas</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">13. Desarrollar actividades ajenas al trabajo durante la jornada laboral o distraerse de esta, desatendiendo su trabajo o distrayendo a los demás trabajadores.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">14. En el evento de tener acceso a los equipos computacionales de la empresa, utilizarlos para fines personales, adulterar o eliminar archivos de dichos equipos o ingresar programas o aplicaciones no autorizadas por el empleador.&nbsp; El uso de Internet y correo electrónico queda estricta y exclusivamente restringido a fines laborales.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;"><br></span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-family: arial; font-size: small;">El incurrir en cualquiera de las prohibiciones de esta cláusula, es considerado por las partes como incumplimiento grave de las obligaciones que impone el contrato de trabajo, en los términos del N° 7, del artículo 160, del Código del Trabajo.</span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-size: small; font-family: arial;"><span style="font-weight: bold;"><span lang="ES"><br></span></span>
    </span>
</p>
<p class="MsoBodyText" style="margin: 0cm 0cm 0.0001pt; color: rgb(57, 57, 57); font-family: 'Open Sans'; line-height: 20px; text-align: justify;"><span style="font-size: small; font-family: arial;"><span style="font-weight: bold;"><span lang="ES"><span style="text-decoration: underline;">CUARTO</span>:</span>
    </span>
    </span><span lang="ES" style="font-size: small; font-family: arial;">&nbsp;<b>Reglamento Interno.&nbsp;</b>En este acto el trabajador declara recibir un ejemplar del Reglamento Interno de Orden, Higiene&nbsp; y Seguridad, obligándose a&nbsp; conocerlo y cumplirlo cabalmente.</span>
</p>